.idea
node_modules
*.js
*.map
*.rar
*.zip
*.lock

!webpack.config.js
!wwwroot/vendor/jqwidgets/jqxtabs.js
!wwwroot/vendor/jqwidgets/jqxgrid.js
!wwwroot/vendor/jqwidgets/jqxbuttons.js
wwwroot/vendor


