/* этот файл сгенерирован автоматически, не меняйте его*/
.color-aliceblue {
    color:aliceblue
}

.background-aliceblue {
    background:aliceblue
}

.color-antiquewhite {
    color:antiquewhite
}

.background-antiquewhite {
    background:antiquewhite
}

.color-aqua {
    color:aqua
}

.background-aqua {
    background:aqua
}

.color-aquamarine {
    color:aquamarine
}

.background-aquamarine {
    background:aquamarine
}

.color-azure {
    color:azure
}

.background-azure {
    background:azure
}

.color-beige {
    color:beige
}

.background-beige {
    background:beige
}

.color-bisque {
    color:bisque
}

.background-bisque {
    background:bisque
}

.color-black {
    color:black
}

.background-black {
    background:black
}

.color-blanchedalmond {
    color:blanchedalmond
}

.background-blanchedalmond {
    background:blanchedalmond
}

.color-blue {
    color:blue
}

.background-blue {
    background:blue
}

.color-blueviolet {
    color:blueviolet
}

.background-blueviolet {
    background:blueviolet
}

.color-brown {
    color:brown
}

.background-brown {
    background:brown
}

.color-burlywood {
    color:burlywood
}

.background-burlywood {
    background:burlywood
}

.color-cadetblue {
    color:cadetblue
}

.background-cadetblue {
    background:cadetblue
}

.color-chartreuse {
    color:chartreuse
}

.background-chartreuse {
    background:chartreuse
}

.color-chocolate {
    color:chocolate
}

.background-chocolate {
    background:chocolate
}

.color-coral {
    color:coral
}

.background-coral {
    background:coral
}

.color-cornflowerblue {
    color:cornflowerblue
}

.background-cornflowerblue {
    background:cornflowerblue
}

.color-cornsilk {
    color:cornsilk
}

.background-cornsilk {
    background:cornsilk
}

.color-crimson {
    color:crimson
}

.background-crimson {
    background:crimson
}

.color-cyan {
    color:cyan
}

.background-cyan {
    background:cyan
}

.color-darkblue {
    color:darkblue
}

.background-darkblue {
    background:darkblue
}

.color-darkcyan {
    color:darkcyan
}

.background-darkcyan {
    background:darkcyan
}

.color-darkgoldenrod {
    color:darkgoldenrod
}

.background-darkgoldenrod {
    background:darkgoldenrod
}

.color-darkgray {
    color:darkgray
}

.background-darkgray {
    background:darkgray
}

.color-darkgrey {
    color:darkgrey
}

.background-darkgrey {
    background:darkgrey
}

.color-darkgreen {
    color:darkgreen
}

.background-darkgreen {
    background:darkgreen
}

.color-darkkhaki {
    color:darkkhaki
}

.background-darkkhaki {
    background:darkkhaki
}

.color-darkmagenta {
    color:darkmagenta
}

.background-darkmagenta {
    background:darkmagenta
}

.color-darkolivegreen {
    color:darkolivegreen
}

.background-darkolivegreen {
    background:darkolivegreen
}

.color-darkorange {
    color:darkorange
}

.background-darkorange {
    background:darkorange
}

.color-darkorchid {
    color:darkorchid
}

.background-darkorchid {
    background:darkorchid
}

.color-darkred {
    color:darkred
}

.background-darkred {
    background:darkred
}

.color-darksalmon {
    color:darksalmon
}

.background-darksalmon {
    background:darksalmon
}

.color-darkseagreen {
    color:darkseagreen
}

.background-darkseagreen {
    background:darkseagreen
}

.color-darkslateblue {
    color:darkslateblue
}

.background-darkslateblue {
    background:darkslateblue
}

.color-darkslategray {
    color:darkslategray
}

.background-darkslategray {
    background:darkslategray
}

.color-darkslategrey {
    color:darkslategrey
}

.background-darkslategrey {
    background:darkslategrey
}

.color-darkturquoise {
    color:darkturquoise
}

.background-darkturquoise {
    background:darkturquoise
}

.color-darkviolet {
    color:darkviolet
}

.background-darkviolet {
    background:darkviolet
}

.color-deeppink {
    color:deeppink
}

.background-deeppink {
    background:deeppink
}

.color-deepskyblue {
    color:deepskyblue
}

.background-deepskyblue {
    background:deepskyblue
}

.color-dimgray {
    color:dimgray
}

.background-dimgray {
    background:dimgray
}

.color-dimgrey {
    color:dimgrey
}

.background-dimgrey {
    background:dimgrey
}

.color-dodgerblue {
    color:dodgerblue
}

.background-dodgerblue {
    background:dodgerblue
}

.color-firebrick {
    color:firebrick
}

.background-firebrick {
    background:firebrick
}

.color-floralwhite {
    color:floralwhite
}

.background-floralwhite {
    background:floralwhite
}

.color-forestgreen {
    color:forestgreen
}

.background-forestgreen {
    background:forestgreen
}

.color-fuchsia {
    color:fuchsia
}

.background-fuchsia {
    background:fuchsia
}

.color-gainsboro {
    color:gainsboro
}

.background-gainsboro {
    background:gainsboro
}

.color-ghostwhite {
    color:ghostwhite
}

.background-ghostwhite {
    background:ghostwhite
}

.color-gold {
    color:gold
}

.background-gold {
    background:gold
}

.color-goldenrod {
    color:goldenrod
}

.background-goldenrod {
    background:goldenrod
}

.color-gray {
    color:gray
}

.background-gray {
    background:gray
}

.color-grey {
    color:grey
}

.background-grey {
    background:grey
}

.color-green {
    color:green
}

.background-green {
    background:green
}

.color-greenyellow {
    color:greenyellow
}

.background-greenyellow {
    background:greenyellow
}

.color-honeydew {
    color:honeydew
}

.background-honeydew {
    background:honeydew
}

.color-hotpink {
    color:hotpink
}

.background-hotpink {
    background:hotpink
}

.color-indianred {
    color:indianred
}

.background-indianred {
    background:indianred
}

.color-indigo {
    color:indigo
}

.background-indigo {
    background:indigo
}

.color-ivory {
    color:ivory
}

.background-ivory {
    background:ivory
}

.color-khaki {
    color:khaki
}

.background-khaki {
    background:khaki
}

.color-lavender {
    color:lavender
}

.background-lavender {
    background:lavender
}

.color-lavenderblush {
    color:lavenderblush
}

.background-lavenderblush {
    background:lavenderblush
}

.color-lawngreen {
    color:lawngreen
}

.background-lawngreen {
    background:lawngreen
}

.color-lemonchiffon {
    color:lemonchiffon
}

.background-lemonchiffon {
    background:lemonchiffon
}

.color-lightblue {
    color:lightblue
}

.background-lightblue {
    background:lightblue
}

.color-lightcoral {
    color:lightcoral
}

.background-lightcoral {
    background:lightcoral
}

.color-lightcyan {
    color:lightcyan
}

.background-lightcyan {
    background:lightcyan
}

.color-lightgoldenrodyellow {
    color:lightgoldenrodyellow
}

.background-lightgoldenrodyellow {
    background:lightgoldenrodyellow
}

.color-lightgray {
    color:lightgray
}

.background-lightgray {
    background:lightgray
}

.color-lightgrey {
    color:lightgrey
}

.background-lightgrey {
    background:lightgrey
}

.color-lightgreen {
    color:lightgreen
}

.background-lightgreen {
    background:lightgreen
}

.color-lightpink {
    color:lightpink
}

.background-lightpink {
    background:lightpink
}

.color-lightsalmon {
    color:lightsalmon
}

.background-lightsalmon {
    background:lightsalmon
}

.color-lightseagreen {
    color:lightseagreen
}

.background-lightseagreen {
    background:lightseagreen
}

.color-lightskyblue {
    color:lightskyblue
}

.background-lightskyblue {
    background:lightskyblue
}

.color-lightslategray {
    color:lightslategray
}

.background-lightslategray {
    background:lightslategray
}

.color-lightslategrey {
    color:lightslategrey
}

.background-lightslategrey {
    background:lightslategrey
}

.color-lightsteelblue {
    color:lightsteelblue
}

.background-lightsteelblue {
    background:lightsteelblue
}

.color-lightyellow {
    color:lightyellow
}

.background-lightyellow {
    background:lightyellow
}

.color-lime {
    color:lime
}

.background-lime {
    background:lime
}

.color-limegreen {
    color:limegreen
}

.background-limegreen {
    background:limegreen
}

.color-linen {
    color:linen
}

.background-linen {
    background:linen
}

.color-magenta {
    color:magenta
}

.background-magenta {
    background:magenta
}

.color-maroon {
    color:maroon
}

.background-maroon {
    background:maroon
}

.color-mediumaquamarine {
    color:mediumaquamarine
}

.background-mediumaquamarine {
    background:mediumaquamarine
}

.color-mediumblue {
    color:mediumblue
}

.background-mediumblue {
    background:mediumblue
}

.color-mediumorchid {
    color:mediumorchid
}

.background-mediumorchid {
    background:mediumorchid
}

.color-mediumpurple {
    color:mediumpurple
}

.background-mediumpurple {
    background:mediumpurple
}

.color-mediumseagreen {
    color:mediumseagreen
}

.background-mediumseagreen {
    background:mediumseagreen
}

.color-mediumslateblue {
    color:mediumslateblue
}

.background-mediumslateblue {
    background:mediumslateblue
}

.color-mediumspringgreen {
    color:mediumspringgreen
}

.background-mediumspringgreen {
    background:mediumspringgreen
}

.color-mediumturquoise {
    color:mediumturquoise
}

.background-mediumturquoise {
    background:mediumturquoise
}

.color-mediumvioletred {
    color:mediumvioletred
}

.background-mediumvioletred {
    background:mediumvioletred
}

.color-midnightblue {
    color:midnightblue
}

.background-midnightblue {
    background:midnightblue
}

.color-mintcream {
    color:mintcream
}

.background-mintcream {
    background:mintcream
}

.color-mistyrose {
    color:mistyrose
}

.background-mistyrose {
    background:mistyrose
}

.color-moccasin {
    color:moccasin
}

.background-moccasin {
    background:moccasin
}

.color-navajowhite {
    color:navajowhite
}

.background-navajowhite {
    background:navajowhite
}

.color-navy {
    color:navy
}

.background-navy {
    background:navy
}

.color-oldlace {
    color:oldlace
}

.background-oldlace {
    background:oldlace
}

.color-olive {
    color:olive
}

.background-olive {
    background:olive
}

.color-olivedrab {
    color:olivedrab
}

.background-olivedrab {
    background:olivedrab
}

.color-orange {
    color:orange
}

.background-orange {
    background:orange
}

.color-orangered {
    color:orangered
}

.background-orangered {
    background:orangered
}

.color-orchid {
    color:orchid
}

.background-orchid {
    background:orchid
}

.color-palegoldenrod {
    color:palegoldenrod
}

.background-palegoldenrod {
    background:palegoldenrod
}

.color-palegreen {
    color:palegreen
}

.background-palegreen {
    background:palegreen
}

.color-paleturquoise {
    color:paleturquoise
}

.background-paleturquoise {
    background:paleturquoise
}

.color-palevioletred {
    color:palevioletred
}

.background-palevioletred {
    background:palevioletred
}

.color-papayawhip {
    color:papayawhip
}

.background-papayawhip {
    background:papayawhip
}

.color-peachpuff {
    color:peachpuff
}

.background-peachpuff {
    background:peachpuff
}

.color-peru {
    color:peru
}

.background-peru {
    background:peru
}

.color-pink {
    color:pink
}

.background-pink {
    background:pink
}

.color-plum {
    color:plum
}

.background-plum {
    background:plum
}

.color-powderblue {
    color:powderblue
}

.background-powderblue {
    background:powderblue
}

.color-purple {
    color:purple
}

.background-purple {
    background:purple
}

.color-red {
    color:red
}

.background-red {
    background:red
}

.color-rosybrown {
    color:rosybrown
}

.background-rosybrown {
    background:rosybrown
}

.color-royalblue {
    color:royalblue
}

.background-royalblue {
    background:royalblue
}

.color-saddlebrown {
    color:saddlebrown
}

.background-saddlebrown {
    background:saddlebrown
}

.color-salmon {
    color:salmon
}

.background-salmon {
    background:salmon
}

.color-sandybrown {
    color:sandybrown
}

.background-sandybrown {
    background:sandybrown
}

.color-seagreen {
    color:seagreen
}

.background-seagreen {
    background:seagreen
}

.color-seashell {
    color:seashell
}

.background-seashell {
    background:seashell
}

.color-sienna {
    color:sienna
}

.background-sienna {
    background:sienna
}

.color-silver {
    color:silver
}

.background-silver {
    background:silver
}

.color-skyblue {
    color:skyblue
}

.background-skyblue {
    background:skyblue
}

.color-slateblue {
    color:slateblue
}

.background-slateblue {
    background:slateblue
}

.color-slategray {
    color:slategray
}

.background-slategray {
    background:slategray
}

.color-slategrey {
    color:slategrey
}

.background-slategrey {
    background:slategrey
}

.color-snow {
    color:snow
}

.background-snow {
    background:snow
}

.color-springgreen {
    color:springgreen
}

.background-springgreen {
    background:springgreen
}

.color-steelblue {
    color:steelblue
}

.background-steelblue {
    background:steelblue
}

.color-tan {
    color:tan
}

.background-tan {
    background:tan
}

.color-teal {
    color:teal
}

.background-teal {
    background:teal
}

.color-thistle {
    color:thistle
}

.background-thistle {
    background:thistle
}

.color-tomato {
    color:tomato
}

.background-tomato {
    background:tomato
}

.color-turquoise {
    color:turquoise
}

.background-turquoise {
    background:turquoise
}

.color-violet {
    color:violet
}

.background-violet {
    background:violet
}

.color-wheat {
    color:wheat
}

.background-wheat {
    background:wheat
}

.color-white {
    color:white
}

.background-white {
    background:white
}

.color-whitesmoke {
    color:whitesmoke
}

.background-whitesmoke {
    background:whitesmoke
}

.color-yellow {
    color:yellow
}

.background-yellow {
    background:yellow
}

.color-yellowgreen {
    color:yellowgreen
}

.background-yellowgreen {
    background:yellowgreen
}
