::-webkit-input-placeholder { /* Chrome */
    color: #c7c7c7;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #c7c7c7;
    opacity: 1;
}

.jqx-cell {
    min-height: 23px;
    padding: 1px 3px;
}

.jqx-button {
    padding: 4px;
}
/*.jqx-button:focus {*/
    /*border-color: dodgerblue;*/
/*}*/

.jqx-window.jqx-widget-content {
    border-color: rgba(33, 115, 70, 0.60);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.14);
}

.jqx-window-header {
    border-color: rgba(33, 115, 70, 0.60);
    background: rgba(33, 115, 70, 0.11);
}

.jqx-window.jqx-fill-state-disabled {
    opacity: 1;
}

.jqx-tree-item {
    padding-bottom: 0px;
    padding-top: 0px;
}

.jqx-widget-content,
input, textarea, select, button,
input[type=password].jqx-input,
input[type=text].jqx-input {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-size: 13px;
    color: rgba(66, 66, 66, 1);
}

.jqx-fill-state-focus {
    border-color: rgb(33, 150, 243);
}

.jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-scolumn-header, .jqx-widget .jqx-grid-group-cell {
    border-color: rgba(192, 192, 192, 0.5);
}

.jqx-grid-cell-left-align {
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*padding-bottom: 2px;*/
    /*text-align: left;*/
    /*margin-right: 2px;*/
    margin-left: 6px;
}

.jqx-grid-cell-sort {
    background-color: rgba(253, 227, 0, 0.03);
}

.jqx-fill-state-normal, .jqx-fill-state-pressed, .jqx-fill-state-hover {
    font-family: Ubuntu, sans-serif;
}

.jqx-fill-state-normal {
    border-color: #d2d2d2;
}

.jqx-menu-item {
     padding: 1px 8px 1px 8px;
}

.jqx-menu-item-separator {
    margin-bottom: 4px;
    margin-top: 4px;
}

.ui-icon-gripsmall-diagonal-se {
    opacity: 0.25;
}

.buhta-resizer:hover {
    background-color: #c0c0c078;
}

.jqx-checkbox-check-indeterminate {
    opacity: 0.3;
}

.jqx-checkbox-default {
    margin-left: 0px;
}

.jqx-widget-header-buhta, .jqx-grid-buhta .jqx-widget-header-buhta {
    background-color: #f7f7f7;
    background-image:initial;
}

.jqx-widget-buhta .jqx-grid-cell-pinned-buhta {
    background-color: #ffeb3b0a;
}