
.cm-s-sql-template.CodeMirror { color: darkslategray; background-color: white; }

.cm-s-sql-template .cm-keyword { color: royalblue; }
.cm-s-sql-template .cm-atom { color: red; }
.cm-s-sql-template .cm-number { color:  green; }

.cm-s-sql-template .cm-variable { color: darkcyan; }
.cm-s-sql-template .cm-variable-2 { color: darkcyan; }

.cm-s-sql-template .cm-mustache { background-color: #ffd70082; }

.cm-s-sql-template .cm-comment { color:green; }
.cm-s-sql-template .cm-string { color:tomato;}
.cm-s-sql-template .cm-string-2 { color:red; }
.cm-s-sql-template .cm-builtin { color: fuchsia; }
